<section class="subscribe_section">
    <div class="subscribe_container">
        <div class="subscribe_content">
            <div class="subscribe_container_main">
<h1 class="subscribe_main">Join Our Coffee Community</h1>
<p class="subscribe_text">Experience the joy of coffee delivered right to your door. Sign up today!</p>
            </div>
<form class="subscribe_form">
    <input class="subscribe_input" type="email" placeholder="Your Email Here" required />
    <button class="subscribe_button" type="submit">Subscribe<svg class="subscribe_icon" width="24" height="24"><use href="./svg/icon-chevrons-right"></use></svg></button>
</form>
<p class="subscribe_under_text">By clicking Get Started, you agree to our Terms and Conditions.</p>
        </div>
<div class="subscribe_image">
    <img src="./img/subscribe_img.jpg" alt="Coffee Cup" /> <!-- Переправити тут шлях файлу і зробити х2 -->
    </div>
    </div>
</section>