.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
}
.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    padding: 0 10px;
    height: 36px;
}
.nav-list {
    display: none;  
}
.menu-button {
    padding: 18px 16px;
    background-color: transparent;
    border: none;
}
.burger-icon {
  display: block;
  fill: #0b0803;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 18px 64px;
  }
  .header-logo {
    margin-right: 100px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .nav-link {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    display: block;
  }
  .nav-link:hover,
  .nav-link:focus {
    opacity: 0.5;
  }
  .nav-link:active {
    opacity: 0.3;
  }
  .menu-button {
    display: none;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .header-logo {
    margin-right: 532px;
  }
}